<div class="container">
			<div class="row">
				<div class="col s12">
					<h4 class="center-align">Which craft do you want to hone?</h4>
					<hr>
					<div class="row">
						<div class="col s4">
							<div onClick="display_Craft_Add_Modal('Golf', '{{lowercase info.basicInfo.user_name}}')" class="card hoverable card-btn">
								<div class="card-image">
									<img src="/assets/img/golf.jpeg">
									<span class="card-title">Golf</span>
								</div>
							</div>
						</div>
						<div class="col s4">
							<div onClick="display_Craft_Add_Modal('Guitar', '{{lowercase info.basicInfo.user_name}}')" class="card hoverable  card-btn">
								<div class="card-image">
									<img src="/assets/img/guitar.jpeg">
									<span class="card-title">Guitar</span>
								</div>
							</div>
						</div>
						<div class="col s4">
							<div onClick="display_Craft_Add_Modal('Spanish', '{{lowercase info.basicInfo.user_name}}')" class="card hoverable  card-btn">
								<div class="card-image">
									<img src="/assets/img/spanish.jpg">
									<span class="card-title">Spanish</span>
								</div>
							</div>
						</div>
						<div class="col s4">
							<div onClick="display_Craft_Add_Modal('Chess', '{{lowercase info.basicInfo.user_name}}')" class="card hoverable  card-btn">
								<div class="card-image">
									<img src="/assets/img/chess.jpg">
									<span class="card-title">Chess</span>
								</div>
							</div>
						</div>
						<div class="col s4">
							<div onClick="display_Craft_Add_Modal('Photography', '{{lowercase info.basicInfo.user_name}}')" class="card hoverable  card-btn">
								<div class="card-image">
									<img src="/assets/img/photography.jpg">
									<span class="card-title">Photography</span>
								</div>
							</div>
						</div>
						<div class="col s4">
							<div onClick="display_Craft_Add_Modal('Tennis', '{{lowercase info.basicInfo.user_name}}')" class="card hoverable  card-btn">
								<div class="card-image">
									<img src="/assets/img/Tennis.jpg">
									<span class="card-title">Tennis</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
