<div class="container">
	<div class="row">
		<div class="col s12 m4">
			<div class="user-wrapper wrappers">
				<img src="/uploads/images/{{info.basicInfo.image}}" class="responsive-img circle userImg">
				<h2 class="center-align userTitle"> {{info.basicInfo.first_name}} {{info.basicInfo.last_name}}</h2>
				<div id="user_name" data-user={{info.basicInfo.user_name}}></div>
				<p class="userDescription center-align">{{info.basicInfo.description}}</p>
				<div class="row">
					<a href="#" data-activates="slide-out" class="button-collapse btn menuBtn"><i class="material-icons medium">menu</i></a>
				</div>
			</div>
			{{!--=======USER ACTIVITY=======--}}
			<div class="user-activity-wrapper wrappers">
				<div class="row">
					<div class="col s12">
						<h2 class="center-align">Progress Feed</h2>
						<hr>
					</div>
					<div class="col s12">

						<ul class="collection" id="userActivityInsert"></ul>
					</div>
				</div>
			</div>
			{{!--Chart Wrapper--}}
		</div>
		<div class="col s12 m8 chartContainer">
			<div class="chart-wrapper">
				<div id="user-name" value="{{info.basicInfo.user_name}}"></div>

				<!-- =============COLLAPSIBLE POPOUT===holds individual collapsibles============= -->
				<ul class="collapsible popout" data-collapsible="accordion">

					{{#each info.basicInfo.Crafts}}
						<li>
								<div id="{{this.craft}}Collapsible" class="collapsible-header getChartData active" data-activity="{{this.craft}}" data-user={{info.basicInfo.user_name}} value="{{this.craft}}"><i class="material-icons">golf_course</i><span class="fontCollapsible">{{this.craft}}</span>
									<span class="fontGrowth">Score Growth: &nbsp;<span class="golfTotalScore"></span></span>
								</div>
							<!-- =======BODY for BUTTONS======= -->
							<div class="collapsible-body">
								<div class="row tight-top-spacing">
									<div class="col s6">
										<a class=" btn cummulative waves-effect waves-light" data-activity="{{this.craft}}"><i class="material-icons">trending_up</i>Cummulative</a>
									</div>
									<div class="col s6">
										<a class=" btn dayCreated waves-effect waves-light" data-activity="{{this.craft}}"><i class="material-icons">assessment</i>Bar Graph</a>
									</div>
								</div>
							</div>
							<!-- =======BODY for CHART======= -->
							<div class="collapsible-body chartDiv {{this.craft}}ChartDiv">
								<canvas class="{{this.craft}}Chart {{this.craft}}Canvas" height="300" width="580"></canvas>
							</div>
						</li>
					{{/each}}

				</ul>
			</div>
		</div>
	</div>
</div>
{{!--=============!!!!!!!!SIDE NAV!!!!!!!!!=============--}}
<div>
	<ul id="slide-out" class="side-nav">
		<li class="no-padding">
			<ul class="collapsible collapsible-accordion">
				<li>
					<a class="collapsible-header"><i class="material-icons">supervisor_account</i> Match</a>
					<div class="collapsible-body">
						<h5>Practice with Others!</h5>
						<p>We match you according to:</p>
						<ul>
							<li><i class="material-icons">color_lens</i> Hobby</li>
							<li><i class="material-icons">assessment</i> Experience Level</li>
							<li><i class="material-icons">location_on</i> Location</li>
						</ul>
						<a id="getMatchedBtn" class="btn waves-effect waves-light matchBtn hoverable">Match</a>
					</div>
				</li>
			</ul>
			<ul class="collapsible collapsible-accordion">
				<li>
					<a class="collapsible-header"><i class="material-icons">playlist_add</i> Add Skills</a>
					<div class="collapsible-body">
						<h5>Add Skills to Work On!</h5>
						<a id="showCrafts" class="btn waves-effect waves-light matchBtn  hoverable"><i class="material-icons">playlist_add</i> Skills!</a>
					</div>
				</li>
			</ul>
			<ul class="collapsible collapsible-accordion">
				<li>
					<a class="collapsible-header"><i class="material-icons">library_add</i> Score</a>
					<div class="collapsible-body">
						<h5>Add Skills to Work On!</h5>
						<ul>
							<li>
								<a id="golfScoreBtn" href="#!"><i class="material-icons">golf_course</i> Golf</a></li>
				</li>
				<li>
					<a id="guitarScoreBtn" href="#!"><i class="material-icons">music_note</i> Guitar</a>
				</li>
				<li>
					<a id="langScoreBtn" href="#!"><i class="material-icons">translate</i> Spanish</a>
				</li>
				</ul>
				</div>
		</li>
		</ul>
		</li>
	</ul>
</div>
{{!--================GOLF SCORE Modals================!--}}
<div id="golfModal" class="modal bottom-sheet">
	<div class="modal-content">
		<h4>Enter Score</h4>
		<form>
			<div class="row">
				<div class="col s8 offset-s2">
					<input id="userName" type="hidden" value="{{info.basicInfo.user_name}}">
					<p class="range-field">
						<span><i class="material-icons">thumb_up</i></span>
						<input type="range" id="golfScore" min="50" max="120" />
						<span><i class="material-icons">thumb_down</i></span>
					</p>
				</div>
			</div>

		</form>
	</div>
	<div class="modal-footer">
		<a type="submit" id="submitGolfScore" class="modal-action modal-close waves-effect waves-green btn-flat">Enter</a>
	</div>
</div>
{{!--================GUITAR HORUS Modals================!--}}
<div id="guitarModal" class="modal bottom-sheet">
	<div class="modal-content">
		<h4>Enter Score</h4>
		<form>
			<div class="row">
				<div class="col s8 offset-s2">
					<input id="userName" type="hidden" value="{{info.basicInfo.user_name}}">
					<p class="range-field">
						<span><i class="material-icons">query_builder</i></span>
						<input type="range" id="guitarHours" min="1" max="10" />
						<span><i class="material-icons">query_builder</i></span>
					</p>
				</div>
			</div>

		</form>
	</div>
	<div class="modal-footer">
		<a type="submit" id="submitGuitarScore" class="modal-action modal-close waves-effect waves-green btn-flat">Enter</a>
	</div>
</div>
{{!--================SPANISH HORUS Modals================!--}}
<div id="spanishModal" class="modal bottom-sheet">
	<div class="modal-content">
		<h4>Enter Score</h4>
		<form>
			<div class="row">
				<div class="col s8 offset-s2">
					<input id="userName" type="hidden" value="{{info.basicInfo.user_name}}">
					<p class="range-field">
						<span><i class="material-icons">query_builder</i></span>
						<input type="range" id="spanishHours" min="1" max="10" />
						<span><i class="material-icons">query_builder</i></span>
					</p>
				</div>
			</div>

		</form>
	</div>
	<div class="modal-footer">
		<a type="submit" id="submitSpanishScore" class="modal-action modal-close waves-effect waves-green btn-flat">Enter</a>
	</div>
</div>


{{!--==========update profile Image MODAL===========--}}
<div id="updateProfile" class="modal bottom-sheet">
	<div class="modal-content">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h4>Edit your Info</h4>
					<hr>
					<h5>upload image</h5>
					<form action="/image-upload" method="POST" enctype="multipart/form-data">
						Select an image to upload:
						<input type="file" name="image">
						<input name="username" type="hidden" value="{{info.basicInfo.user_name}}">
						<input id="imageUploadSubmit" type="submit">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{{!--===============MODALS FOR SETTING SKILLS=========================--}}
<div id="setCraftModal" class="modal">
	<div class="modal-content">
		{{!---------------handlebars: display all craft options----------------}}
		{{> craftOptionsPartial}}
	</div>
	<div class="modal-footer">
		<a class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
	</div>
</div>

{{!--===============Modal: ADDING Craft=================--}}
<div id="addCraftModals"><div>

{{!--Div holds dynamically created Craft Options Modal--}}
<div id="craftOptionsModal"></div>
{{!--================BOTTOM MODAL FOR DISPLAYING MATCHES===================--}}
<div id="matchesModal" class="modal bottom-sheet">
	<div class="modal-content">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h4 class="center-align">Your Matches</h4>
					<hr>
					<div class="row">
						<div class="col s12 m6">
							<ul class="collection" id="matchContentInsert"></ul>
						</div>
						<div class="col s12 m6">
							<div id="yelpContent">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{!--===============MESSAGING MODAL=========================--}}
<div id="messagingModal" class="modal">
	<div id="preloaderInsert">
		<div class="indeterminate"></div>
	</div>
	<div class="modal-content">
		<div class="container">
			<div class="row">
				<div class="col s2" id="messageUserImg"></div>
				<div class="col s6" id="messageUserName"></div>
			</div>
			<div class="row">
				<div class="col s12">
					<form class="messagingArea">
						<textarea></textarea>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
	</div>
</div>
